@import 'variables';


body {
  color: $defaultTextColor;
  background-color: $defaultBackGroundColor;
  font-family: $defaultFont;
  width: 100vw;
  height:100vh;
  display: grid;

  

  a {
    text-decoration: none;
    cursor: pointer;
    color: $defaultTextColor;
    transition: all 0.5s ease-in-out;
    
    &:hover{
      transition: all 0.5s ease-in-out;
      padding: 10px 20px;
      font-size: 20px;
    }
  }

  ul {
    list-style: none;
  }
  
}

