.footerContainer {
  @include defaultMenus();
  background-color: rgb(35, 36, 43);
  color: #ffffff;
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  }

