.heroContainer {
  background-image: url("./assets/images/Novo_Hero.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include containersDefaults();
  background-color: #7c5e99;
  border: solid black 1px;
  margin-bottom: 20px;
  margin-top: 20px;
  transition: all 0.5s ease-in-out;

  .nameAndTitleBox {
    // background: rgba(149, 152, 153, 0.9);
    // box-shadow: 0px 15px 10px #f25a70;
    align-self: flex-start;
    padding: 60px 60px;
    margin-left: 20px;
    @include highrelief();
    
    &:hoover {
      cursor: pointer;
    }
  }


  h1 {
    font-size: 35px;
    margin-bottom: 10px;
    color:#f25a70;
  }

  span {
    font-size:25px;
    
  }
    
}  