section.heroContainer {
  background-image: url("./assets/images/Novo_Hero.jpeg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 800px;
  background-color: rgb(124, 94, 153);
  border: solid black 1px;
  margin-bottom: 20px;
  margin-top: 20px;
  transition: all 0.5s ease-in-out;

    
}  