.heroContainer {
  background-image: url("./assets/images/Novo_Hero.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include containersDefaults();
  background-color: #7c5e99;
  border: solid black 1px;
  margin-bottom: 20px;
  margin-top: 20px;
  transition: all 0.5s ease-in-out;

  
  .nameAndTitleBox {
    display: grid;
    align-self: flex-start;
    padding: 60px 60px;
    margin-left: 20px;
    @include highrelief();

    
    
    #titleName {
      font-size: 40px;
      margin-bottom: 10px;
      color:#f25a70;
    }

    #jobTitle {
      font-size:25px;
    }

    #btnCv {
      background-color: #202020;
      border-radius: 4px;
      color: #ffffff;
      padding: 20px 30px;
      width:40%;  
      text-transform: uppercase;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
      margin-top: 40px;
     
    }

  }


  

  
    
}  