#projectsContainer {
  @include containersDefaults();
  background-color: #202020;
  color: #ffffff;
  grid-template-rows: 20% 40% 40%;
  align-items: center;
  justify-items: center;

  &:hover {
    @include containersHover();
  }

  .titleContainer{
    @include defaultBoardsTitleContainers();
    @include highrelief(); 
  }

  #boardTitle {
    @include defaultContainersNames();

    @include mobile{
      font-size: 20px;
    }
  }

  #container {
    height: 50px;
    background-color: #CCC;
    // position: relative;
    border: solid rgb(228, 219, 219) 1px;
  }

  #container #progress-bar{
    // position: absolute;
    height: 100%;
    background-color: #0fd439;
    animation: progress-animation 5s infinite;
  }


  // @keyframes progress-animation{
  //   0% { width: 0%; } 
  //   100% { width: 100%}
  // }

}