.skillsBoardContainer {
  @include containersDefaults();
  background-color: rgb(35, 36, 43);
  grid-template-columns: 1fr;
  grid-template-rows: 10% 80%;
  padding: 2rem;
  gap: 1rem;
  @include mobile {
    grid-template-columns: 1fr;
    grid-template-rows: 10% 80%;
    
  }

  #titleContainer{
    @include defaultBoardsTitleContainers();
    @include highrelief();
    // border: solid 1px red;
    
    
  }

  #boardTitle {
    @include defaultContainersNames();
    @include mobile{
      font-size: 20px;
    }
  }

  #skillsContainer {
    // border: solid 1px red;
    background: lighten( $secondaryBackGroundColor, 5%);
    padding:0.5rem;
    border-bottom: $lightEffectColor 3px solid;
    width: 100%;
    padding: 4rem;
    @include mobile{
      padding: 1rem;
    }

  }

  #skills {
    display: grid;
    font-size: 40px;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    align-content: center;
    gap: 50px;
    
    @include mobile{
    grid-template-columns: repeat(2, 1fr);
    font-size: 15px;
    }  
  }


}