$defaultFont: "Press Start 2P",cursive;
$defaultTextColor: white;
$defaultBackGroundColor: #FE6D3F;







// MIXINS

@mixin defaultMenus() {
  width: 100%;
  height: 100px;
  display: flex;

}

@mixin containersHover() {
 cursor: pointer;
}


@mixin containersDefaults() {
  width: 100%;
  height:100vh;
}

@mixin highrelief() {
  filter: drop-shadow(2px 2px 5px rgba(20, 20, 20, 0.5));
}