* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: white;
  background-color: #23242b;
  font-family: "JetBrains Mono", cursive;
  width: 100vw;
  height: 100vh;
  display: grid;
}
body a {
  text-decoration: none;
  cursor: pointer;
  color: white;
  transition: all 0.5s ease-in-out;
}
body a:hover {
  transition: all 0.5s ease-in-out;
  padding: 10px 20px;
  font-size: 20px;
}
body ul {
  list-style: none;
}

.menuContainer {
  position: fixed;
  z-index: 10000;
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #23242b;
  padding: 0 40px;
}
.menuContainer #btnMobile {
  display: none;
}
.menuContainer #menu {
  display: flex;
}
.menuContainer #menuLogo {
  font-size: 35px;
  font-weight: bold;
}
.menuContainer #menu a {
  opacity: 0.8;
  padding: 15px;
  display: block;
  transition: all 0.5s ease-in-out;
  filter: drop-shadow(2px 2px 5px rgba(20, 20, 20, 0.5));
}
.menuContainer #menu a:hover {
  color: #0ae6b6;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
@media (max-width: 600px) {
  .menuContainer #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: rgb(35, 36, 43);
    z-index: 1000;
    height: 0px;
    transition: 0.6s;
    visibility: hidden;
    overflow-y: hidden;
  }
  .menuContainer #navFromMenu.active #menu {
    height: 100vh;
    visibility: visible;
    overflow-y: auto;
  }
  .menuContainer #btnMobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  .menuContainer #hamburguer {
    color: #202020;
    display: block;
    border-top: 2px solid;
    width: 20px;
  }
  .menuContainer #hamburguer::after, .menuContainer #hamburguer::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  .menuContainer #navFromMenu.active #hamburguer {
    border-top-color: transparent;
  }
  .menuContainer #navFromMenu.active #hamburguer::before {
    transform: rotate(135deg);
  }
  .menuContainer #navFromMenu.active #hamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}

.heroContainer {
  background-image: url("../images/Novo_Hero.jpeg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: grid;
  border: solid black 1px;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  justify-items: center;
  background-color: #7c5e99;
  border: solid black 1px;
}
@media (max-width: 600px) {
  .heroContainer {
    grid-template-columns: 1fr;
    background-image: none;
  }
}
.heroContainer .nameAndTitleBox {
  display: grid;
  width: 90%;
  padding: 60px 60px;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom-right-radius: 35%;
  border-top-left-radius: 35%;
  filter: drop-shadow(2px 2px 5px rgba(20, 20, 20, 0.5));
}
.heroContainer .nameAndTitleBox #titleName {
  font-size: 30px;
  margin-bottom: 10px;
  color: #f25a70;
}
.heroContainer .nameAndTitleBox #jobTitle {
  font-size: 25px;
}
.heroContainer .nameAndTitleBox #btnCv {
  background-color: #202020;
  border-radius: 4px;
  color: #ffffff;
  padding: 20px 30px;
  width: 40%;
  text-transform: uppercase;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  margin-top: 40px;
}
.heroContainer .nameAndTitleBox #btnCv:hover {
  color: #0ae6b6;
}
@media (max-width: 600px) {
  .heroContainer .nameAndTitleBox {
    height: 100%;
  }
  .heroContainer .nameAndTitleBox #titleName {
    font-size: 10px;
  }
  .heroContainer .nameAndTitleBox #jobTitle {
    font-size: 10px;
  }
  .heroContainer .nameAndTitleBox #btnCv {
    font-size: 15px;
    margin-top: 30px;
    padding: 30px 10px;
    width: 90%;
  }
}

.skillsBoardContainer {
  width: 100vw;
  height: 100vh;
  display: grid;
  border: solid black 1px;
  background-color: rgb(35, 36, 43);
  grid-template-columns: 1fr;
  grid-template-rows: 10% 80%;
  padding: 2rem;
  gap: 1rem;
}
@media (max-width: 600px) {
  .skillsBoardContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 10% 80%;
  }
}
.skillsBoardContainer #titleContainer {
  display: grid;
  justify-content: end;
  width: 90%;
  filter: drop-shadow(2px 2px 5px rgba(20, 20, 20, 0.5));
}
.skillsBoardContainer #boardTitle {
  margin-bottom: 20px;
  color: aliceblue;
  font-family: "Roboto", Mono;
  font-size: 50px;
  filter: drop-shadow(2px 2px 5px rgba(20, 20, 20, 0.5));
}
@media (max-width: 600px) {
  .skillsBoardContainer #boardTitle {
    font-size: 20px;
  }
}
.skillsBoardContainer #skillsContainer {
  background: #2d2d2d;
  padding: 0.5rem;
  border-bottom: #0ae6b6 3px solid;
  width: 100%;
  padding: 4rem;
}
@media (max-width: 600px) {
  .skillsBoardContainer #skillsContainer {
    padding: 1rem;
  }
}
.skillsBoardContainer #skills {
  display: grid;
  font-size: 40px;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  align-content: center;
  gap: 50px;
}
@media (max-width: 600px) {
  .skillsBoardContainer #skills {
    grid-template-columns: repeat(2, 1fr);
    font-size: 15px;
  }
}

#projectsContainer {
  width: 100vw;
  height: 100vh;
  display: grid;
  border: solid black 1px;
  background-color: rgb(35, 36, 43);
  color: #ffffff;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 90%;
  padding: 3rem;
  gap: 1rem;
  border: blue solid 1px;
}
@media (max-width: 600px) {
  #projectsContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 10% 80%;
    padding: 1rem;
  }
}
#projectsContainer:hover {
  cursor: pointer;
}
#projectsContainer #titleContainer {
  border: red solid 1px;
  display: grid;
  justify-content: end;
  width: 90%;
  filter: drop-shadow(2px 2px 5px rgba(20, 20, 20, 0.5));
}
#projectsContainer #boardTitle {
  margin-bottom: 20px;
  color: aliceblue;
  font-family: "Roboto", Mono;
  font-size: 50px;
  filter: drop-shadow(2px 2px 5px rgba(20, 20, 20, 0.5));
}
@media (max-width: 600px) {
  #projectsContainer #boardTitle {
    font-size: 20px;
  }
}
#projectsContainer #repositories {
  background: #2d2d2d;
  padding: 0.5rem;
  border-bottom: #0ae6b6 3px solid;
  width: 100%;
  padding: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 600px) {
  #projectsContainer #repositories {
    grid-template-columns: 1fr;
    font-size: 15px;
    gap: 2rem;
  }
}
#projectsContainer #repositories .repository {
  width: 350px;
  height: 250px;
  border: red solid 5px;
}
#projectsContainer #repositories .repository img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
@media (max-width: 600px) {
  #projectsContainer #repositories .repository {
    width: 100%;
    height: 150px;
  }
}

.aboutMeContainer {
  width: 100vw;
  height: 100vh;
  display: grid;
  border: solid black 1px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 10fr 30fr 60fr;
  grid-template-areas: "titleCt titleCt titleCt titleCt" "aboutMe aboutMe aboutMe aboutMe" "form1 form1  form2 form2";
  gap: 30px;
  padding: 3rem;
  color: #ffffff;
}
@media (max-width: 600px) {
  .aboutMeContainer {
    height: 100%;
    gap: 10px;
    padding: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 30fr 25fr 25fr;
    grid-template-areas: "titleCt" "aboutMe" "form1" "form2";
  }
}
.aboutMeContainer #titleContainer {
  grid-area: titleCt;
  display: grid;
  justify-content: end;
  width: 90%;
  filter: drop-shadow(2px 2px 5px rgba(20, 20, 20, 0.5));
}
.aboutMeContainer #boardTitle {
  margin-bottom: 20px;
  color: aliceblue;
  font-family: "Roboto", Mono;
  font-size: 50px;
  filter: drop-shadow(2px 2px 5px rgba(20, 20, 20, 0.5));
}
@media (max-width: 600px) {
  .aboutMeContainer #boardTitle {
    font-size: 20px;
  }
}
.aboutMeContainer #aboutMeText {
  filter: drop-shadow(2px 2px 5px rgba(20, 20, 20, 0.5));
  grid-area: aboutMe;
  font-family: "JetBrains Mono", cursive;
  text-align: justify;
  font-size: 1.5rem;
  padding: 2rem;
}
@media (max-width: 600px) {
  .aboutMeContainer #aboutMeText {
    font-size: 1rem;
    width: 100%;
    height: 100%;
    text-align: justify;
  }
}
.aboutMeContainer .exp {
  background: #2d2d2d;
  padding: 0.5rem;
  border-bottom: #0ae6b6 3px solid;
}
.aboutMeContainer #exp1 {
  grid-area: form1;
  padding: 2rem;
}
.aboutMeContainer #exp2 {
  grid-area: form2;
  padding: 2rem;
}
.footerContainer {
  width: 100vw;
  height: 100px;
  display: flex;
  background-color: rgb(35, 36, 43);
  color: #ffffff;
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 350px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=main.css.map */