* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: white;
  background-color: #FE6D3F;
  font-family: "Press Start 2P", cursive;
  width: 100vw;
  height: 100vh;
  display: grid;
}
body a {
  text-decoration: none;
  cursor: pointer;
  color: white;
  transition: all 0.5s ease-in-out;
}
body a:hover {
  transition: all 0.5s ease-in-out;
  padding: 10px 20px;
  font-size: 20px;
}
body ul {
  list-style: none;
}

.menuContainer {
  position: fixed;
  z-index: 10000;
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3d64d4;
  box-shadow: 0px 15px 10px #aa61c7;
}
.menuContainer #btnMobile {
  display: none;
}
.menuContainer #menu {
  display: flex;
}
.menuContainer #menuLogo {
  font-size: 35px;
  font-weight: bold;
}
.menuContainer #menu a {
  opacity: 0.8;
  padding: 15px;
  display: block;
  transition: all 0.5s ease-in-out;
  filter: drop-shadow(2px 2px 5px rgba(20, 20, 20, 0.5));
}
.menuContainer #menu a:hover {
  color: #29b45e;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
@media (max-width: 600px) {
  .menuContainer #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: #3d64d4;
    z-index: 1000;
    height: 0px;
    transition: 0.6s;
    visibility: hidden;
    overflow-y: hidden;
  }
  .menuContainer #navFromMenu.active #menu {
    height: 100vh;
    visibility: visible;
    overflow-y: auto;
  }
  .menuContainer #btnMobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  .menuContainer #hamburguer {
    color: #202020;
    display: block;
    border-top: 2px solid;
    width: 20px;
  }
  .menuContainer #hamburguer::after, .menuContainer #hamburguer::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  .menuContainer #navFromMenu.active #hamburguer {
    border-top-color: transparent;
  }
  .menuContainer #navFromMenu.active #hamburguer::before {
    transform: rotate(135deg);
  }
  .menuContainer #navFromMenu.active #hamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}

.heroContainer {
  background-image: url("../images/Novo_Hero.jpeg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: grid;
  margin-bottom: 20px;
  margin-top: 20px;
  border: solid black 1px;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  justify-items: center;
  background-color: #7c5e99;
  border: solid black 1px;
}
@media (max-width: 600px) {
  .heroContainer {
    grid-template-columns: 1fr;
    background-image: none;
  }
}
.heroContainer .nameAndTitleBox {
  display: grid;
  width: 90%;
  padding: 60px 60px;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom-right-radius: 35%;
  border-top-left-radius: 35%;
  filter: drop-shadow(2px 2px 5px rgba(20, 20, 20, 0.5));
}
.heroContainer .nameAndTitleBox #titleName {
  font-size: 30px;
  margin-bottom: 10px;
  color: #f25a70;
}
.heroContainer .nameAndTitleBox #jobTitle {
  font-size: 25px;
}
.heroContainer .nameAndTitleBox #btnCv {
  background-color: #202020;
  border-radius: 4px;
  color: #ffffff;
  padding: 20px 30px;
  width: 40%;
  text-transform: uppercase;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  margin-top: 40px;
}
@media (max-width: 600px) {
  .heroContainer .nameAndTitleBox {
    height: 100%;
  }
  .heroContainer .nameAndTitleBox #titleName {
    font-size: 10px;
  }
  .heroContainer .nameAndTitleBox #jobTitle {
    font-size: 10px;
  }
  .heroContainer .nameAndTitleBox #btnCv {
    font-size: 15px;
    margin-top: 30px;
    padding: 30px 10px;
    width: 90%;
  }
}

.skillsBoardContainer {
  width: 100vw;
  height: 100vh;
  display: grid;
  margin-bottom: 20px;
  margin-top: 20px;
  border: solid black 1px;
  background-color: #f25a70;
  grid-template-columns: 1fr;
  grid-template-rows: 15% 85%;
  align-items: center;
  justify-items: center;
}
.skillsBoardContainer .titleContainer {
  grid-column: 1/3;
  display: grid;
  justify-content: end;
  width: 90%;
}
.skillsBoardContainer #boardTitle {
  margin-bottom: 40px;
  color: aliceblue;
  font-size: 50px;
}
@media (max-width: 600px) {
  .skillsBoardContainer #boardTitle {
    font-size: 20px;
  }
}
.skillsBoardContainer #skillsContainer {
  width: 90%;
}
.skillsBoardContainer #skills {
  display: grid;
  font-size: 40px;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
@media (max-width: 600px) {
  .skillsBoardContainer #skills {
    grid-template-columns: 1fr;
    font-size: 20px;
    grid-gap: 5px;
    grid-gap: 5px;
    gap: 10px;
  }
}

section.projectsContainer {
  width: 100vw;
  height: 100vh;
  display: grid;
  margin-bottom: 20px;
  margin-top: 20px;
  border: solid black 1px;
  background-color: #000000;
  color: #ffffff;
  margin-bottom: 20px;
  display: grid;
  grid-template-rows: 10% 90%;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  transition: all 0.5s;
  padding: 130px;
}
section.projectsContainer:hover {
  cursor: pointer;
}

section.aboutMeContainer {
  width: 100vw;
  height: 100vh;
  display: grid;
  margin-bottom: 20px;
  margin-top: 20px;
  border: solid black 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7C5E99;
  color: #ffffff;
  font-family: "JetBrains Mono", cursive;
  font-size: 20px;
  padding: 30px 20px;
  grid-column: 1/3;
  margin-bottom: 20px;
  display: grid;
}

.footerContainer {
  width: 100vw;
  height: 100px;
  display: flex;
  background-color: #16191a;
  color: #ffffff;
  border: solid 1px;
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}/*# sourceMappingURL=main.css.map */